:root {
  --darkjunglegreen-color: #212121;
  --white-color: #ffffff;
  --boulder-color: #757575;
  --azure-color: #2196f3;
  --softpeach-color: #eeeeee;
  --black-color: #000000;
  --ghostwhite-color: #f5f4fa;
  --rgbawhitehigh-color: rgba(255, 255, 255, 0.6);
  --gunmetal-color: #2f303a;
  --dawnpink-color: #ececec;
  --cloud-color: #c4c4c4;
  --rgbagunmetal-color: rgba(47, 48, 58, 0.4);
  --rgbawhitelow-color: rgba(255, 255, 255, 0.1);
  --nobel-color: #afb1b8;
}

body {
  background-color: var(--white-color);
  color: var(--darkjunglegreen-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.nav-list,
.feature-list,
.example-list,
.team-list,
.filter-list,
.portfolio-list,
.navigation-list,
.footer-contact-list,
.header-contact-list,
.social-media-list,
.footer-social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ul,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--dawnpink-color);
}

.container.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;

  color: var(--black-color);
  cursor: default;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-list {
  margin-left: 93px;
  display: flex;
  gap: 50px;
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--darkjunglegreen-color);
}

.nav:hover,
.nav:focus {
  color: var(--azure-color);
}

.nav-current {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  text-decoration: none;

  color: var(--azure-color);
}

.nav-current::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 4px;
  background-color: var(--azure-color);
  border-radius: 2px;
  z-index: 10;
}

.nav-current:hover,
.nav-current:focus {
  color: var(--azure-color);
}

.header-contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contact-element {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--boulder-color);
}

.header-contact-element:hover,
.header-contact-element:focus {
  color: var(--azure-color);
}

.icon-mail,
.icon.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.web {
  color: var(--azure-color);
}

/* Main page */
.page-main {
  flex-direction: column;
}

.order-section {
  margin: auto;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-color: var(--cloud-color);
  background-image: linear-gradient(
      var(--rgbagunmetal-color),
      var(--rgbagunmetal-color)
    ),
    url("../images/Meeting_bgn.jpg");
  background-size: cover;
  background-position: center;
}

.order-section-header {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.order-section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--azure-color);
}

.order-section-button:hover,
.order-section-button:focus {
  background-color: #007ec7;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.icon-cross {
  display: inline-block;
  fill: currentColor;
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;

  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.icon-cross {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross:hover,
.icon-cross:focus {
  background-color: var(--white-color);
  color: var(--azure-color);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

.signup-form {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--darkjunglegreen-color);
}

.modal-window-header {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
}

.label-header {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: start;
}

.modal-form-label .icon {
  position: absolute;
  top: 38px;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form:not(:last-child) {
  margin-bottom: 10px;
}

.modal-input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0 42px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-input-textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-input-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-input-textarea:focus {
  border: 1px solid var(--azure-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon {
  fill: var(--azure-color);
}

.modal-form-checkbox {
  font-size: 14px;
  line-height: 1.71;
}

.checkbox-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 20px;
}

.icon-uncheck {
  fill: var(--darkjunglegreen-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .icon-agreement .icon-uncheck {
  opacity: 0;
}

.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .icon-agreement .icon-check {
  opacity: 1;
}

.checkbox-link {
  color: var(--azure-color);
  text-decoration: underline;
}

.modal-submit-button {
  height: 3.125rem;
  line-height: 3.125rem;
  min-width: 12.5rem;
  padding: 0 2rem;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06rem;
  color: var(--white-color);
  background-color: var(--azure-color);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #1976d2;
}

.feature-list {
  display: flex;
  width: 100%;
  gap: 30px;
}

.feature-element {
  width: 270px;
}

.feature-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--ghostwhite-color);
}

.feature-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  color: var(--darkjunglegreen-color);
}

.feature-text {
  line-height: 1.71;
  margin: 10px 0 0;

  color: var(--boulder-color);
}

.examples-section {
  padding-top: 0;
}

.example-header,
.team-header,
.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding: 0;

  color: var(--darkjunglegreen-color);
}

.example-header {
  margin-bottom: 50px;
}

.example-image {
  position: relative;
}

.example-text {
  position: absolute;
  bottom: 0;
  margin: 0;

  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  z-index: 10;
}

.team-section {
  padding-top: 0;
}

.team-header {
  margin-bottom: 50px;
  padding-top: 94px;
}

.example-list {
  display: flex;
  gap: 30px;
}

.team-section {
  background-color: var(--ghostwhite-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-person-container {
  padding: 30px 10px;
  margin: 0;
  background-color: var(--white-color);
}

.team-person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto 10px;

  text-align: center;

  color: var(--darkjunglegreen-color);
}

.team-person-position {
  font-size: 16px;
  line-height: 1.19;
  margin: 0;

  text-align: center;
  font-style: normal;

  color: var(--boulder-color);
}

.social-media-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.social-media-element {
  width: 44px;
  height: 44px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--nobel-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--azure-color);
  color: var(--white-color);
}

.social-media-svg {
  fill: currentColor;
}

.clients-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0;
}

.clients-element {
  width: 170px;
  height: 92px;
  list-style: none;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nobel-color);
  border: 1px solid var(--nobel-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  display: block;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--azure-color);
  border-color: var(--azure-color);
}

/* Portfolio page */
.portfolio-main {
  border-top: 1px solid var(--white-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 6px 22px;

  color: var(--darkjunglegreen-color);
  background-color: var(--ghostwhite-color);
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--azure-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-button-active {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  padding: 6px 25px;

  color: var(--white-color);
  background-color: var(--azure-color);
  border: none;
}

.filter-button-active:hover,
.filter-button-active:focus {
  background-color: #007ec7;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-section {
  margin: auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-element {
  width: 370px;
  box-sizing: border-box;
}

.image-container {
  overflow: hidden;
  position: relative;
}

.portfolio-element-image {
  display: block;
}

.portfolio-element-floating-text {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  color: var(--white-color);
  background-color: var(--azure-color);
  opacity: 0.9;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover .portfolio-element-floating-text,
.portfolio-element-link:focus .portfolio-element-floating-text {
  transform: translateY(-100%);
}

.portfolio-element-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element-link:hover,
.portfolio-element-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-element-name {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--darkjunglegreen-color);
}

.text-container {
  padding: 20px 24px;
  border: 1px solid var(--dawnpink-color);
  border-top: none;
}

.portfolio-element-text {
  font-size: 16px;
  line-height: 1.88;
  font-style: normal;
  margin: 0;
  padding: 0;

  color: var(--boulder-color);
}
/* Footer */
.page-footer {
  padding: 60px 0;
  background-color: var(--gunmetal-color);
}

.page-footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 231px;
  height: 118px;
  margin: 0;
  padding-left: 15px;
}

.footer-logo {
  width: 145px;
  height: 31px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-adress {
  width: 231px;
  height: 21px;
  line-height: 1.17;
  text-decoration: none;
  font-style: normal;

  color: var(--white-color);
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-contact-element {
  display: block;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--rgbawhitehigh-color);
}

.footer-contact-element:hover,
.footer-contact-element:focus {
  color: var(--azure-color);
}

.footer-social {
  margin-left: 70px;
}

.fotter-social-text {
  display: flex;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  justify-content: flex-start;
}

.footer-social-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-element {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--white-color);
  border-radius: 50%;
  background-color: var(--rgbawhitelow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--azure-color);
  color: var(--white-color);
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe-container {
  display: flex;
}

.footer-subscribe-label {
  display: block;
  color: var(--white-color);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--boulder-color);
  border-radius: 4px;
  outline: none;
}

.footer-subscribe-input:focus {
  border: 1px solid var(--azure-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--azure-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  text-align: center;
}

.footer-subscribe-button-text {
  margin: 10px 10px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  letter-spacing: 0.06em;
}

.footer-subscribe-button .icon {
  fill: var(--white-color);
  margin: 0;
  padding: 0;
}
