body {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: $main-color;
  background-color: $accessory-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
